@import 'variables';



@mixin formato {
    color: $TextColorFive;
    text-decoration: underline;
    text-align: center;
}

p{
    @include formato;
}

@mixin titulo {
    color: $TextColorFour;
    font-weight: bold;
    text-align: center;
}

.h3-section-four{
    @include titulo
}

